@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -110px;
}

header{ /*estilizção do cabeçalho*/
    background-color: #c90505;
    padding-inline: 16px;
}

.navbar{
    max-width: 1280px;
    height: 80px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 80px;
}

.nav-menu{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-menu a{
    color: #FFFF;
    font-size: 20px; 
    padding-block: 16px;
    font-weight: 400; 
    text-decoration: none;  
    transition: color 0.2s; 
}

.nav-menu a:hover{ /*transição para mudar a cor*/
    color: #000000;
    animation: alternate; /* aplica a animação de piscar */
}

.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

/* larguras e tamanhos da lista do menu*/
.hamburger::before,
.hamburger::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFF;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 800px){  /* colocando o botão menu só para tela de celualr*/
    .hamburger{
        display: block;
        z-index: 3;  
    }

    .nav-menu{
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #c90505;
        clip-path: circle(100px at 90% -15%); /* animação ao clicar na lista*/
        transition: 1s ease-out; /*tempo da transição*/
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    
    .nav-menu a{
        font-size: 25px;
        opacity: 0;
    }

    .nav-menu li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }

    .nav-menu li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }

    .nav-menu li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    .nav-menu li:nth-child(4) a{
        transition: 0.5s 0.6s;
    }

    .nav-menu li:nth-child(5) a{
        transition: 0.5s 0.6s;
    }

    .navbar.active .nav-menu{  /*animação ao abrir o menu */
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .navbar.active .nav-menu a{ /*para aparecer a lista no menu*/
        opacity: 1;
    }

    .navbar.active .hamburger{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .navbar.active .hamburger::before{
        transform: rotate(135deg);
    }
    
    .navbar.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    
}


/*rodapé*/

footer{
    z-index: 1;
    background-color: #c90505;
    width: 100%;
    color: #fff;
    bottom: 0; 
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo-footer{
    width: 80px;
}

.left{
    display: flex;
    align-items: center;
}

.g1{
    font-size: 17px;
    margin-left: 10px;
}

.redes-sociais{
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}

.redes-sociais img{
    width: 25px;
    margin-right: 20px; 
}

.descr{
    margin-top: 15px;
    font-size: 13px;
    margin-right: 20px;
}

@media (max-width: 800px){
    .g1 {
        display: none;
    }
}